:root{
  --sample: pink;
  --singou_1: blue;
  --singou_2: red;
}

.border-radius {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: yellow;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}



.myicon2{
    float: left;
    --logo-color:var(--singou_1);
    --logo2-color:var(--singou_2);
}


.item{
position: relative;
}

.timer-time {
    text-align:center;
    position: absolute;
    line-height: 4em;
    width: 100%;
    font-size:2.5em;
}


